*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: #530000;
}
header{
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: burlywood;
    font-size: 50px;
    font-weight: 500;
    margin: 20px;
}
section{
    height: 100vh;
    width : 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    height: 500px;
    width: 500px;
    justify-content: center;
    border: 10px solid black;
}
.display{
    display: flex;
    background-color: rgb(120, 138, 146);
    width: 100%;
    height: 100px;
    font-size: 60px;
    justify-content: flex-end;
    align-items: flex-end;
    border: 3px solid black;
    flex-wrap: wrap;
    overflow: hidden;
}


.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

button{
    flex: 1 0 25%;
    color: white;
    background-color: black;
    padding: 2px;
    background-color: indigo;
    border: 2px solid black;
    font-family: 'Roboto', sans-serif;
}

button:hover{
    background-color: rgb(105, 108, 124);
}

.operation{
    background-color: rgb(78, 37, 190);
}

.special{
    background-color: #da1009;
}